{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "plugins": ["simple-import-sort"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src/"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        // Choose from one of the "project" configs below or omit to use <root>/tsconfig.json by default

        "project": "<root>/tsconfig.json"
      }
    },
    "alias": {
      "alias": {
        "map": [["", "./src"]]
      }
    }
  },
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/no-unresolved": "error",
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "react/react-in-jsx-scope": "off"
  }
}
